# Dependency directories
node_modules/
**/node_modules/

# Environment secrets
.env
**/.env

# Build and OS files
dist/
build/
.DS_Store

# Project specific
medasr_local/
backend/uploads/

load_test.js
